.contactComponent {
    display: flex;
    margin: 7px;
    background-color: white;
    color: black;
    width: 400px;

    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 9px 6px rgb(0 0 0 / 50%);
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.userInformation{
    margin-right: 30px;
    min-width: 250px;

    display: flex;
    align-items: start;
    flex-direction: column;
}

.lastTime{
    margin: 3px 0 0 0;
}

.name{
    font-weight: 700;
}

.deleteButton{
    background-color: transparent;
    border-color: transparent;
}

.deleteButtonImage{
    width: 20px;
}